<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.xottys.userinterface">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme"
        android:usesCleartextTraffic="true">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".WebViewActivity"
            android:label="WebView" />
        <activity
            android:name=".TextViewActivity"
            android:label="@string/title_activity_text_view"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".DialogDemo.DialogActivity"
            android:label="Dialog Demo"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".DialogDemo.AlertDialogActivity"
            android:label="Dialog Demo" />
        <activity
            android:name=".ImageViewActivity"
            android:label="ImageView Demo" />

        <activity
            android:name=".ProgressBarActivity"
            android:label="ProgressBar Demo" />

        <activity
            android:name=".AdapterViewDemo.AdapterViewActivity"
            android:label="AdapterView Demo"
            android:theme="@android:style/Theme"
         />
        <activity
            android:name=".AdapterViewDemo.BasicAdapterViewActivity"
            android:label="BasicAdapterView Demo" />
        <activity
            android:name=".AdapterViewDemo.AdvancedActivatedItemsActivity"
            android:label="AdvancedAdapterView(ActivatedItems) Demo" />
        <activity
            android:name=".AdapterViewDemo.AdvancedOverlayArrayActivity"
            android:label="AdvancedAdapterView(OverlayArray) Demo" />
        <activity
            android:name=".AdapterViewDemo.AdvancedViewBinderActivity"
            android:label="AdvancedAdapterView(ViewBinder) Demo" />
        <activity
            android:name=".AdapterViewDemo.AdvancedTranscriptModeActivity"
            android:label="AdvancedAdapterView(TranscriptMode) Demo" />
        <activity
            android:name=".AdapterViewDemo.AdvancedSelectionModeActivity"
            android:label="AdvancedAdapterView(SelectionMode) Demo"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar" />
        <activity
            android:name=".AdapterViewDemo.CustomerExpandableActivity"
            android:label="CustomerAdapterView(Expandable) Demo"
            android:theme="@android:style/Theme" />
        <activity
            android:name=".AdapterViewDemo.CustomerGroupActivity"
            android:label="CustomerAdapterView(Group) Demo"
            android:theme="@style/AppTheme.NoActionBar"
             />
        <activity
            android:name=".AdapterViewDemo.CustomerSlowActivity"
            android:label="CustomerAdapterView(Slow) Demo" />
        <activity
            android:name=".AdapterViewDemo.CustomerEfficentActivity"
            android:label="CustomerAdapterView(Efficent) Demo" />

        <activity
            android:name=".AdapterViewDemo.ExpandableListViewSimpleActivity"
            android:label="ExpandableListView(Simple) Demo" />

        <activity
            android:name=".AdapterViewDemo.ExpandableListViewCursorTreeActivity"
            android:label="ExpandableListView(CursorTree) Demo" />

        <activity
            android:name=".AdapterViewDemo.ExpandableListViewBaseActivity"
            android:label="ExpandableListView(Base) Demo" />

        <activity
            android:name=".AdapterViewDemo.SpinnerActivity"
            android:label="Spinner Demo" />

        <activity
            android:name=".AdapterViewDemo.GridViewSimpleActivity"
            android:label="GridView(Simple) Demo" />

        <activity
            android:name=".AdapterViewDemo.GridViewBaseActivity"
            android:label="GridView(Base) Demo" />

        <activity
            android:name=".AdapterViewDemo.GridViewSelectionActivity"
            android:label="GridView(Selection) Demo" />
        <activity
            android:name=".AdapterViewDemo.ViewPagerBasicActivity"
            android:label="ViewPager Demo" />

        <activity
            android:name=".AdapterViewDemo.ViewPagerTitleActivity"
            android:label="ViewPager(Title) Demo" />

        <activity
            android:name=".AdapterViewDemo.ViewPagerFragmentActivity"
            android:label="ViewPager(Fragment) Demo" />
        <activity
            android:name=".ScrollViewDemo.ScrollViewActivity"
            android:label="ScrollView Demo"
            android:theme="@android:style/Theme"/>
        <activity
            android:name=".PickerActivity"
            android:label="Picker Demo"
            android:theme="@android:style/Theme.Holo" />
        <activity
            android:name=".MenuToolbarDemo.MenuToolbarActivity"
            android:label="Options Menu"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".MenuToolbarDemo.ActionBarActivity"
            android:label="ActionBarDisplayOptions"
            android:theme="@android:style/Theme.Holo" />
        <activity
            android:name=".MenuToolbarDemo.ToolbarActivity"
            android:label="ToolBar Demo"
            android:theme="@style/MyToolBarTheme" />
        <activity
            android:name=".CustomViewActivity"
            android:label="CustomView Demo" />
        <activity
            android:name=".AdvancedViewGroup.AdvancedWidgetActivity"
            android:label="AdvancedWidget Demo"
            android:theme="@style/AppDayNightTheme" />
        <activity
            android:name=".AdvancedViewGroup.RecyclerViewActivity"
            android:label="@string/title_activity_recycler_view"
            android:parentActivityName=".AdvancedViewGroup.AdvancedWidgetActivity"
            android:theme="@style/AppDayNightTheme" />
        <activity
            android:name=".AdvancedViewGroup.CollapsingToolbarActivity"
            android:label="@string/title_activity_collapsing_view"
            android:parentActivityName=".AdvancedViewGroup.AdvancedWidgetActivity"
            android:theme="@style/AppDayNightTheme" />
        <activity
            android:name=".AdvancedViewGroup.PaletteActivity"
            android:label="@string/palette"
            android:parentActivityName=".AdvancedViewGroup.AdvancedWidgetActivity"
            android:theme="@style/AppDayNightTheme" />
        <activity
            android:name=".MiscWidgetDemo.MiscWidgetActivity"
            android:label="MiscWidgetDemo" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="org.xottys.userinterface.uiwidgets.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>