<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.xottys.userinterface.animation">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TweenedAnimationActivity"
            android:label="TweenedAnimation" />
        <activity
            android:name=".FrameAnimationActivity"
            android:label="FrameAnimation" />
        <activity
            android:name=".BasicPropertyAnimationActivity"
            android:label="BasicPropertyAnimation" />
        <activity
            android:name=".AdvancedPropertyAnimationActivity"
            android:label="AdvancedPropertyAnimation" />
        <activity
            android:name=".ViewAnimatorActivity"
            android:label="ViewAnimator"
            android:theme="@style/MaterialAnimations"/>
        <activity
            android:name=".PhysicsAnimationActivity"
            android:label="PhysicsAnimation" />
        <activity
            android:name=".TransitionAnimationActivity"
            android:label="TransitionAnimation"
            android:theme="@style/MaterialAnimations"/>
        <activity
            android:name=".CustomSVGActivity"
            android:label="Custom SVG Animation" />
        <activity android:name=".MiscAnimationActivity" />
        <activity android:name=".ThreeDimensionAnimationActivity" />
        <activity android:name=".transition.ActivityOptionsActivity"
            android:label="ActivityOptions"
            android:theme="@style/ActivityTransitionTheme"/>
        <activity android:name=".transition.ActivityOptionsDetailsActivity"
            android:label="ActivityOptionsDetails"
            android:theme="@style/ActivityTransitionTheme"/>
        <activity android:name=".transition.LayoutAnimationControllerActivity"
            android:label="LayoutAnimationController"/>
        <activity android:name=".transition.LayoutTransitionActivity"
            android:label="LayoutTransition"/>
        <activity android:name=".transition.TransitionActivity"
            android:label="Transition"
            android:theme="@style/MaterialAnimations.Red" />
        <activity android:name=".transition.TransitionDetailsActivity"
            android:label="TransitionDetails"
            android:theme="@style/MaterialAnimations.Blue" />
        <activity android:name=".transition.TransitionManagerActivity"
            android:label="TransitionManager"/>
        <activity android:name=".transition.Activity_A" />
        <activity android:name=".transition.Activity_B" />
        <activity android:name=".transition.Activity_C" />
        <activity android:name=".transition.LayoutAnimation1"
            android:label="List Cascade" />
        <activity android:name=".transition.LayoutAnimation2"
            android:label="Reverse Order"/>
        <activity android:name=".transition.LayoutAnimation3"
            android:label="Wave Scale"/>
        <activity android:name=".transition.LayoutAnimation4"
            android:label="Nested Animation"/>
        <activity android:name=".transition.LayoutAnimation5"
            android:label="Random"/>
        <activity android:name=".transition.SharedElementActivity"
            android:label="SharedElement"
            android:theme="@style/MaterialAnimations"/>
        <activity android:name=".AdapterViewAnimatorActivity"
        android:label="AdapterViewAnimator" />
        <activity android:name=".PageTransformerActivity"
            android:label="PageTransformer" />
        <activity android:name=".FragmentTransactionActivity"
            android:label="FragmentTransactionAnimation"
            android:theme="@style/DarkTheme"/>
        <activity android:name=".Transition3dActivity"
            android:label="3D 动画"
            android:theme="@style/MaterialAnimations"/>
        <activity android:name=".VectorDrawableActivity"
            android:label="VectorDrawable" />

    </application>

</manifest>