<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.xottys.userinterface.animation">
    <application
        android:allowBackup="true"

        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TweenedAnimationActivity"
            android:label="TweenedAnimation"/>
        <activity
            android:name=".FrameAnimationActivity"
            android:label="FrameAnimation" />
        <activity
            android:name=".BasicPropertyAnimationActivity"
            android:label="BasicPropertyAnimation" />
        <activity
            android:name=".advanced_property_animation.AdvancedPropertyAnimationActivity"
            android:label="AdvancedPropertyAnimation" />
        <activity
            android:name=".view_animator.ViewAnimatorActivity"
            android:label="ViewAnimator"
            />
        <activity
            android:name=".physics.PhysicsMainActivity"
            android:label="PhysicsAnimation" />
        <activity
            android:name=".transition.TransitionMainActivity"
            android:label="TransitionAnimation" />
        <activity
            android:name=".CustomSVGActivity"
            android:label="SVG Animation" />
        <activity android:name=".transition.ActivityOptionsActivity"
            android:label="ActivityOptions"
            android:theme="@style/ActivityTransitionTheme"
            />
        <activity android:name=".transition.ActivityOptionsDetailsActivity"
            android:label="ActivityOptionsDetails"
            android:theme="@style/ActivityTransitionTheme"
           />
        <activity android:name=".transition.LayoutAnimationControllerActivity"
            android:label="LayoutAnimationController"/>
        <activity android:name=".transition.LayoutTransitionActivity"
            android:label="LayoutTransition"/>
        <activity android:name=".transition.TransitionActivity"
            android:label="Transition"
            android:theme="@style/MaterialAnimations.Red" />
        <activity android:name=".transition.TransitionDetailsActivity"
            android:label="TransitionDetails"
            android:theme="@style/MaterialAnimations.Blue" />
        <activity android:name=".transition.TransitionManagerActivity"
            android:label="TransitionManager"/>
        <activity android:name=".transition.LayoutAnimationControllerActivity1"
            android:label="List Cascade" />
        <activity android:name=".transition.LayoutAnimationControllerActivity2"
            android:label="Reverse Order"/>
        <activity android:name=".transition.LayoutAnimationControllerActivity4"
            android:label="Wave Scale"/>
        <activity android:name=".transition.LayoutAnimationControllerActivity3"
            android:label="Nested Animation"/>
        <activity android:name=".transition.LayoutAnimationControllerActivity5"
            android:label="Random"/>
        <activity android:name=".transition.SharedElementActivity"
            android:label="SharedElement"
            android:theme="@style/MaterialAnimations_NoActionBar"/>
        <activity android:name=".adapterview_animator.AdapterViewAnimatorActivity"
        android:label="AdapterViewAnimator" />
        <activity android:name=".page_transformer.PageTransformerActivity"
            android:label="PageTransformer" />
        <activity android:name=".FragmentTransactionActivity"
            android:label="FragmentTransactionAnimation"
           />
        <activity android:name=".Transition3dActivity"
            android:label="3D 动画" />
        <activity android:name=".AnimDrawableActivity"
            android:label="Anim Drawable" />
    </application>

</manifest>